@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

h1 > span {
  font-size: 3rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.content {
  max-width: 1200px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 10px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.header {
  text-align: center;
  color: #252a34;
  margin-top: 63px;
}

.subheader {
  color: #4d5567;
  font-size: 1.25rem;
  line-height: 175%;
}

.subheader > span {
  font-size: 1.25rem;
}

.button {
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.primary {
  color: #fff;
  background: #ff2e63;
  border: 2px solid #ff2e63;
}

.primary:hover {
  color: #fff;
  background: rgb(255, 46, 99, 0.25);
  border: 2px solid #ff2e63;
  text-decoration: none;
}

.secondary {
  color: #fff;
  background: none;
  border: 2px solid #fff;
}

.secondary:hover {
  color: #000;
  background: rgb(255, 255, 255, 0.95);
  text-decoration: none;
}

.tertiary {
  background: transparent;
  border: 2px solid #252a34;
  color: #252a40;
}

.tertiary:hover {
  background: #252a34;
  color: #fff;
}

.alt {
  color: #fff;
  background: #4d5567;
  border: 2px solid #4d5567;
}

.alt:hover {
  color: #4d5567;
  background: rgba(77, 85, 103, 0.25);
}

.plantr {
  color: #fff;
  background: #b64283;
  border: 2px solid #b64283;
}

.plantr:hover {
  color: #fff;
  background: rgba(182, 66, 131, 0.5);
}

.mowr {
  color: #fff;
  background: #53a914;
  border: 2px solid #53a914;
}

.mowr:hover {
  color: #fff;
  background: rgb(83, 169, 20, 0.5);
}

.rakr {
  color: #fff;
  background: #ca4a03;
  border: 2px solid #ca4a03;
}

.rakr:hover {
  color: #fff;
  background: rgba(202, 74, 3, 0.5);
}

.plowr {
  color: #fff;
  background: #252a34;
  border: 2px solid #252a34;
}

.plowr:hover {
  color: #fff;
  background: rgba(77, 85, 103, 0.5);
}

.logo {
  font-size: 2rem;
}

.logo > span {
  font-size: 2rem;
}

.r {
  color: #ff0000;
  text-decoration: underline;
  text-shadow: 1px 1px #000;
}

.rHelpr {
  color: #ff2e63;
  text-decoration: underline;
  text-shadow: 1px 1px #000;
}

.rUser {
  color: #fff;
  text-decoration: underline;
  text-shadow: 1px 1px #000;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
