@media only screen and (max-width: 767.98px) {
  .hero {
    margin-top: 63px;
  }
}

@media only screen and (max-width: 575.98px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    margin-top: 120px;
  }

  .close {
    top: -53px !important;
  }

  .open {
    top: 132px !important;
  }

  .menuItems > a {
    width: 100vw;
    text-align: center;
  }

  .box {
    flex-direction: column !important;
    overflow-y: hidden;
    padding-top: 8px;
  }

  header {
    margin-top: 122px !important;
  }

  .formWrapper {
    min-width: 90vw;
    padding: 50px 20px;
  }

  .formBox {
    flex-direction: column;
  }

  .formBox > div:last-child {
    padding-left: 0;
  }

  .settings {
    padding-top: 150px !important;
  }

  .hireahelpr {
    padding-top: 130px !important;
  }

  .helprIco {
    height: 70px;
  }

  .pill > label {
    min-width: 85px;
    height: unset;
  }

  .ordersContainer {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 482.98px) {
  .pill {
    margin-top: 5px;
  }
}
