.testimonials {
  background: #08d9d6;
  min-height: 100vh;
  color: #fff;
}

.swiper-container {
  width: 75vw;
  height: 50vh;
}

.testimonial {
  text-align: center;
  margin: 0 75px;
  background: rgb(37, 42, 52, 0.75);
  border-radius: 3px;
  padding: 25px 25px;
  box-shadow: 3px 3px 10px 0px #252a34;
  transition: background 0.3s ease-in-out;
}

.testimonial:hover {
  background: rgb(37, 42, 52, 0.5);
}

.testimonial-content {
  font: 700 italic 2rem 'Roboto', sans-serif;
}

.testimonial-image {
  border-radius: 50%;
  box-shadow: 3px 3px 10px 0px #252a34;
  margin-top: 20px;
}
